/*CSS For All*/
h2 {
    color: #326AF0;
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
}

/*CSS For InformationCollectionForm.php*/
    form {
        height: auto;
        width: 700px;
        margin: 0 auto;
        border: 2px solid gray;
        padding: 20px;
        text-align: center;
        background: #7bb1e780;
    }
    .studentInformation,.marks {
        border: 1px solid gray;
        height: auto;
        width: 400px;
        margin: 15px auto;
        text-align: left;
    }
    p {
        font-size: 16px;
        padding: 0 10px;
        color: #696783;
    }
    input{
        background: #dfe4d680;
        color: #465062;
    }
    .studentInformation input {
        height: 20px;
        width: 200px;
        float: right;
        margin: -40px 5px;
    }
    .marks input {
        height: 20px;
        width: 100px;
        float: right;
        margin: -40px 5px;
    }
    input[type="submit"] {
        font-size: 18px;
        font-weight: bold;
        color: white;
        background: #4450e1;
        border: 0;
        border-radius: 5px;
        padding: 5px;
    }
/*CSS For process.php*/
    .resultSheet {
        margin: 0 auto;
        height: auto;
        width: 260px;
        border: 2px solid gray;
        background: #7bb1e780;
    }
td {
    padding: 5px 20px;
    color: #465062;
    font-size: 16px;
}
table {
    margin: 15px auto;
}