<head>
    <title>All Result Record</title>
    <link rel="stylesheet" href="../../src/BITM/SEIP_157156/style.css">
</head>
<div class='resultSheet'>
    <table>
        <tr>
            <td colspan='2'><h2>Result Sheet</h2><hr></td>
        </tr>
        <tr>
            <td>Student Name:</td>
            <td>Sumon Shill</td>
        </tr>
        <tr>
            <td>Student ID:</td>
            <td>157152</td>
        </tr>
    </table>
    <table>
        <tr>
            <th>Subject</th>
            <th>Mark</th>
            <th>Grade</th>
        </tr>
        <tr>
            <td>Bangla</td>
            <td>55</td>
            <td>B</td>
        </tr>
        <tr>
            <td>English</td>
            <td>77</td>
            <td>A</td>
        </tr>
        <tr>
            <td>Math</td>
            <td>99</td>
            <td>A+</td>
        </tr>
    </table>
</div>
<br><br><div class='resultSheet'>
    <table>
        <tr>
            <td colspan='2'><h2>Result Sheet</h2><hr></td>
        </tr>
        <tr>
            <td>Student Name:</td>
            <td>AB Akas</td>
        </tr>
        <tr>
            <td>Student ID:</td>
            <td>157155</td>
        </tr>
    </table>
    <table>
        <tr>
            <th>Subject</th>
            <th>Mark</th>
            <th>Grade</th>
        </tr>
        <tr>
            <td>Bangla</td>
            <td>88</td>
            <td>A+</td>
        </tr>
        <tr>
            <td>English</td>
            <td>99</td>
            <td>A+</td>
        </tr>
        <tr>
            <td>Math</td>
            <td>12</td>
            <td>F</td>
        </tr>
    </table>
</div>
<br><br><div class='resultSheet'>
    <table>
        <tr>
            <td colspan='2'><h2>Result Sheet</h2><hr></td>
        </tr>
        <tr>
            <td>Student Name:</td>
            <td>Shantu Chowdhury</td>
        </tr>
        <tr>
            <td>Student ID:</td>
            <td>157153</td>
        </tr>
    </table>
    <table>
        <tr>
            <th>Subject</th>
            <th>Mark</th>
            <th>Grade</th>
        </tr>
        <tr>
            <td>Bangla</td>
            <td>45</td>
            <td>C</td>
        </tr>
        <tr>
            <td>English</td>
            <td>65</td>
            <td>A-</td>
        </tr>
        <tr>
            <td>Math</td>
            <td>88</td>
            <td>A+</td>
        </tr>
    </table>
</div>
<br><br>